@charset "UTF-8";

main > div#participantes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
    gap: 30px; /*A propriedade gap em CSS é usada para criar espaçamento entre os elementos filhos de um contêiner, seja ele Flexbox, Grid ou multi-column.*/
    transition-duration: .7s;
}

main > div#participantes > div.fundo-participante {
    background-color: rgba(255, 191, 191, 0.452);
    box-shadow: 2px 2px 9px rgba(160, 13, 13, 0.445);
    padding: 20px;
    text-align: center;
    width: 200px;
    border-radius: 6px;
}

main p.participante-desc{
    color: #002279;
    padding: 5px 0px;
}

main > div#participantes > div.fundo-participante > img.img-p {
    width: 100%;
    border-radius: 8px;
}

main > div#participantes > div.fundo-participante > p {
    padding: 3px;
}

main > div#participantes > div.fundo-participante > a.botao-contato {
    padding-top: 4px;
    width: 100%;
}
