@charset "UTF-8";


:root {
    --corAzul: #5D78BC;
    --corVerdeEsc: #4B5916;
    --corVerde: #7D8C0D;
    --corBege: #BFA78A;

    --fonte-padrao: 'Lexend Deca', sans-serif;
    --fonte-destaque: 'Bona Nova SC', serif;
}

div.conteudo-p {
    padding: 20px;
}

div.caixa-ideia {
    display: flex;
    flex-flow: row wrap;
}

img {
    padding: 20px;
    height: 250px;
    margin: auto;
}

h2 {
    font-size: 23px;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-top: 10px;
    color: #2f406b;
}

p.ideia {
    color: #2f406b;
    font-size: 18px;
    text-align: justify;
    padding-bottom: 15px;
    max-width: 60ch;
}

div.obj {
    background-color: rgba(255, 255, 255, 0.555);
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(95, 4, 4, 0.315);
}

ul {
    padding-left: 11px;
    padding-bottom: 10px;
}

ol {
    padding-left: 16px;
}

li {
    padding-left: 10px;
    font-size: 18px;
    color: #2f406b;
}

.pubA {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #2f406b;;
}

a.empresa {
    text-decoration: none;
    color: #2f406b;
    transition-duration: .7s;
}

a.empresa:hover {
    background-color: #f11a1a3f;
    color: #AADEF1;
    border-radius: 7px;
}